*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  -webkit-overflow-scrolling: touch;
}

.h00 {
  font-size: 40px !important;
}
@media (min-width: 768px) {
  .h00 { font-size: 48px !important; }
}

.h0 {
  font-size: 32px !important;
}
@media (min-width: 768px) {
  .h0 { font-size: 40px !important; }
}

.h1 {
  font-size: 26px !important;
}
@media (min-width: 768px) {
  .h1 { font-size: 32px !important; }
}

.h2 {
  font-size: 22px !important;
}
@media (min-width: 768px) {
  .h2 { font-size: 24px !important; }
}

.h3 {
  font-size: 18px !important;
}
@media (min-width: 768px) {
  .h3 { font-size: 20px !important; }
}

.h4 {
  font-size: 16px !important;
}
@media (min-width: 768px) {
  .h4 { font-size: 16px !important; }
}

.h5 { font-size: 14px !important; }
.h6 { font-size: 12px !important; }

.h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 500 !important; }

.f1 {
  font-size: 26px !important;
}
@media (min-width: 768px) {
  .f1 { font-size: 32px !important; }
}

.f2 {
  font-size: 22px !important;
}
@media (min-width: 768px) {
  .f2 { font-size: 24px !important; }
}

.f3 {
  font-size: 18px !important;
}
@media (min-width: 768px) {
  .f3 { font-size: 20px !important; }
}

.f4 {
  font-size: 16px !important;
}
@media (min-width: 768px) {
  .f4 { font-size: 16px !important; }
}

.f5 { font-size: 14px !important; }
.f6 { font-size: 12px !important; }

.f00-light {
  font-size: 40px !important;
  font-weight: 300 !important;
}
@media (min-width: 768px) {
  .f00-light { font-size: 48px !important; }
}

.f0-light {
  font-size: 32px !important;
  font-weight: 300 !important;
}
@media (min-width: 768px) {
  .f0-light { font-size: 40px !important; }
}

.f1-light {
  font-size: 26px !important;
  font-weight: 300 !important;
}
@media (min-width: 768px) {
  .f1-light { font-size: 32px !important; }
}

.f2-light {
  font-size: 22px !important;
  font-weight: 300 !important;
}
@media (min-width: 768px) {
  .f2-light { font-size: 24px !important; }
}

.f3-light {
  font-size: 18px !important;
  font-weight: 300 !important;
}
@media (min-width: 768px) {
  .f3-light { font-size: 20px !important; }
}

.text-small { font-size: 12px !important; }

.lead {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  font-family: 'function_pro', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
@media (min-width: 768px) {
  .lead { font-size: 20px; }
}

a:not(.button) {
  color: #000;
  position: relative;
  text-decoration: none;
  transition: background-color 300ms ease;
  background-color: transparent;
  box-shadow: 0 2px rgba(87, 138, 194, 0.7);
}
a:not(.button):hover {
  background-color: rgba(87, 138, 194, 0.7);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  transition: background-color 500ms ease;
  background-color: transparent;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  background-color: rgba(87, 138, 194, 0.7);
}

/* Header + p img margin */
h1 + p img,
h2 + p img,
h3 + p img,
h4 + p img,
h5 + p img,
h6 + p img {
  margin-top: 1rem;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  letter-spacing: 0.01rem;
  font-size: 16px;
  line-height: 1.5;
  /* color: #3A4145; */
  font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'function_pro', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 500;
}

blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0 1.75em -1.2em;
  padding: 0 0 0 1.75em;
  border-left: #4A4A4A 0.4em solid;
  font-size: 110%;
}
blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}
blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #CCC;
}
blockquote small:before { content: "\2014 \00A0"; }
blockquote cite { font-weight: 700; }
blockquote cite a { font-weight: normal; }

mark { background-color: #FFC336; }

code, tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: #E3EDF3 1px solid;
  background: #F7FAFB;
  border-radius: 2px;
}

pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  border: #E3EDF3 1px solid;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}
pre code, tt {
  font-size: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #CCC 1px solid;
  color: #666;
  text-shadow: #FFF 0 1px 0;
  font-size: 0.9em;
  font-weight: 700;
  background: #F4F4F4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #AEB5BC 1px solid;
  margin: 2em 0;
  padding: 0;
}

.pagination {
  display: block;
  margin: 0 0 1rem 0;
  font-family: 'function_pro', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  text-align: center;
}
.pagination .page-number {
  line-height: 2.2rem;
  color: #9EABB3;
}

.caption {
  display: block;
  font-family: 'function_pro', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 300;
  color: #7a99c2; /* fallback for scale-color($echo, $lightness:-20%) */
  margin-bottom: -.7rem;
}
.caption::after {
  display: block;
  content: "\2014";
  font-weight: 300;
  color: #578AC2; /* fallback for $echo */
}

.text-function {
  font-family: 'function_pro', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 300;
}

/* Function Pro */

@font-face {
    font-family: 'function_pro';
    src: url('../fonts/function-pro/FunctionPro-Light-webfont.eot');
    src: url('../fonts/function-pro/FunctionPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/function-pro/FunctionPro-Light-webfont.woff2') format('woff2'),
         url('../fonts/function-pro/FunctionPro-Light-webfont.woff') format('woff'),
         url('../fonts/function-pro/FunctionPro-Light-webfont.ttf') format('truetype'),
         url('../fonts/function-pro/FunctionPro-Light-webfont.svg#function_prolight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'function_pro';
    src: url('../fonts/function-pro/FunctionPro-Book-webfont.eot');
    src: url('../fonts/function-pro/FunctionPro-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/function-pro/FunctionPro-Book-webfont.woff2') format('woff2'),
         url('../fonts/function-pro/FunctionPro-Book-webfont.woff') format('woff'),
         url('../fonts/function-pro/FunctionPro-Book-webfont.ttf') format('truetype'),
         url('../fonts/function-pro/FunctionPro-Book-webfont.svg#function_probook') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'function_pro';
    src: url('../fonts/function-pro/FunctionPro-Medium-webfont.eot');
    src: url('../fonts/function-pro/FunctionPro-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/function-pro/FunctionPro-Medium-webfont.woff2') format('woff2'),
         url('../fonts/function-pro/FunctionPro-Medium-webfont.woff') format('woff'),
         url('../fonts/function-pro/FunctionPro-Medium-webfont.ttf') format('truetype'),
         url('../fonts/function-pro/FunctionPro-Medium-webfont.svg#function_promedium') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'function_pro';
    src: url('../fonts/function-pro/FunctionPro-Demi-webfont.eot');
    src: url('../fonts/function-pro/FunctionPro-Demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/function-pro/FunctionPro-Demi-webfont.woff2') format('woff2'),
         url('../fonts/function-pro/FunctionPro-Demi-webfont.woff') format('woff'),
         url('../fonts/function-pro/FunctionPro-Demi-webfont.ttf') format('truetype'),
         url('../fonts/function-pro/FunctionPro-Demi-webfont.svg#function_prodemi') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'function_pro';
    src: url('../fonts/function-pro/FunctionPro-Bold-webfont.eot');
    src: url('../fonts/function-pro/FunctionPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/function-pro/FunctionPro-Bold-webfont.woff2') format('woff2'),
         url('../fonts/function-pro/FunctionPro-Bold-webfont.woff') format('woff'),
         url('../fonts/function-pro/FunctionPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/function-pro/FunctionPro-Bold-webfont.svg#function_pro_bookbold') format('svg');
    font-weight: 600;
    font-style: normal;
}